
input[type=text],input[type="number"] ,input[type="password"] ,select {
  width: 60%;
    padding: 6px 10px;
    margin: 5px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(71, 77, 87);
    margin-left: 7%;
    color: #FFF;

  }
  
  input[type=submit] ,button{
    width: 60%;
    background-color: #cc9628;
    color: white;
    padding: 6px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 7%
  }
  
  input[type=submit]:hover,button:hover {
    background-color: #f99a21;
  }
  
  div {
    border-radius: 5px;
    background-color:rgb(20, 21, 26);
    padding: 20px;
    width: 40%;
    margin-left: 30%;
  }
  h1{
    border-radius: 5px;
    background-color:rgb(20, 21, 26);
    padding: 20px;
    width: 40%;
    margin-left: 30%;
    color:#c99527
  }
  label{
      color: white
  }
  body{
      background-image:url('https://miro.medium.com/max/700/1*kV8T5QX5Emg8sNBUxCkOGg.jpeg')
      ;background-size: cover;
      background-repeat: no-repeat
     
    }

  /* toggle style */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #474d57;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #c99527
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #c99527
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
   .toggle{
    padding-left: 0px;
    color:#FFF
  } 
  

